@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes slide-left {
    from {
      transform: translateX(-100%);
      opacity: 0
    }
    to {
      transform: translateX(0);
      opacity: 1
    }
  }
  @keyframes slide-right {
    from {
      transform: translateX(100%);
      opacity:0;
    }
    to {
      transform: translateX(0);
      opacity:1;
    }
  }
  @keyframes slide-down {
    from {
      transform: translateY(100%);
      opacity:0
    }
    to {
      transform: translateY(0);
      opacity:1
    }
  }
  
  .animate-slide-left {
    animation: slide-left 2s ease-in-out;
  }
  .animate-slide-right {
    animation: slide-right 2s ease-in-out;
  }
  .animate-slide-down {
    animation: slide-down 2s ease-in-out;
  }